.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchbar{
    border: 2px solid darkslategray;
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar input{
    margin-right:20px;
    border: 0;
}
.searchbar input:focus{
    outline: none;

}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.user{
    margin-left:15px;
    padding:5px;
    border: 2px solid rgb(35, 34, 34);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart{
    margin-left:15px;
    padding:5px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
