.navbar-container{
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(35, 34, 34);
    border-bottom: 1px solid rgb(35, 34, 34);
    margin-top:4px;
}
.navbar{
    display: flex;
    width: 60%;
    margin:0 auto;
    padding: 10px;
}
.navbar a{
    margin-right:30px;
    font-weight: bold;
}